/* Scrollbar */
::-webkit-scrollbar {
  width: 10px;
}

::-webkit-scrollbar-track {
  background: var(--primary);
}

::-webkit-scrollbar-thumb {
  background: var(--neutral);
  border: 2px solid var(--primary);
}

::-webkit-scrollbar-thumb:hover {
  background: var(--accent);
}
